name: Testing
# Run on every push to main and every pull request to main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
# Set up Java 17 and run unit tests
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 18
        uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'temurin'
          cache: 'maven'
      - name: Run tests with maven
        run: mvn -B test --file pom.xml
      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          # Set CC_TEST_REPORTER_ID as secret of your repo
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
          JACOCO_SOURCE_PATH: "${{github.workspace}}/src/main/java"
        with:
          # The report file must be there, otherwise Code Climate won't find it
          coverageCommand: mvn package
          coverageLocations: ${{github.workspace}}/target/site/jacoco/jacoco.xml:jacoco
          debug: true
